@media only screen and (max-width: 340px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  .logo-font,
  .titleHero {
    font-size: 1.5em;
  }

  .navbar-item a,
  .subtitleHero,
  .btn {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
  }

  .hpMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hero {
    min-height: 500px;
    background: var(--image-color), url('./images/hero-600.jpg');
    background-size: cover;
    background-position: center;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list-block {
    display: flex;
  }
  .menu span {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 175px;
    flex-wrap: wrap;
    padding: 3em 0;
  }
}

@media only screen and (min-width: 600px) {
  .judul-konten_utama {
    margin-bottom: 1em;
  }

  #cari-resto,
  #fav-meal {
    display: grid;
    grid-column-gap: 1.545em;
    grid-row-gap: 1.545em;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .hero {
    background: var(--image-color), url('./images/hero-1200.jpg');
    background-position: center;
  }

  #cari-resto,
  #fav-meal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
